/*
*
{
	border: 2px solid;
}
*/
:root
{
	--darkred: rbg(255, 41, 41)
}
body
{
	text-align: left;
	list-style-position: inside;
	background-color:  var(--darkred);
}
header
{
	background-color: darkred;
	border: 3px double black;
	margin: 10px 100px;
}