/*
*
{
	border: 2px solid;
}
*/
:root
{
	--darkred: rbg(255, 41, 41)
}
header
{
	background-color: darkred;
	border: 3px double black;
	margin: 10px 100px;
	text-align: center;
	list-style-position: inside;
	background-color: var(--darkred);
}

body
{
	text-align: left;
	list-style-position: inside;
	background-color:  var(--darkred);
}
body h1
{
	text-color: white;
}
body h2
{
	text-color: darkred;
}
header h3
{
	text-color:white;
}
