/*
*
{
	border: 1px Solid red;
}
*/
:root
{
	--blue: rgb(43, 43, 212);
}
body
{
	text-align: left;
	list-style-position: inside;
	background-color:  var(--blue);
	text-color: white;
}
header h1
{
	text-align: center;
	font-size:  60pt;
	margin-top:  10px;
	margin-bottom: 0;
}

