th, caption
{
    font-size:20pt;
    background-color:DarkSeaGreen;
    border:2px double DarkSlateGrey;
    font-weight:bold;
}
table
{
    border-spacing:0
}
td
{
    border:1px solid #606060;
}
*[scope^="col"]
{
    column-width:300px;
}
*[scope^="row"]
{
    font-size:25pt;
}
thead th
{
    background-color:DarkSeaGreen
}
th + td
{
    font-weight:bold;
}
